node_modules
dist
build
out
.DS_Store
*.log*
.vscode
/test-results/
/coverage/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.eslintrc.cjs
.eslintignore
.editorconfig
.prettierignore
.prettierrc.yaml
